body {
    background-color: #111;
    color: #EEE;
    font-family: 'Roboto Slab', serif;
}

.series-frame {
  
    max-width: 1000px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #EEE;
    margin: 30px;
    padding: 10px;
}

  .form {
    padding: 20px;
  }

  .episodes {

    max-width: 900px;
    display: flex;
    box-sizing: border-box;
    margin: 30px;
    border: 2px solid red;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
  }

  .series-frame h2 {
    margin-right: 20px;
  }

  .image {
    width: 300px;
    border: 2px solid #EEE;
  }
